.wrapper {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  padding: 20px 0px;
  .categories {
    height: 100vh;
    border-right: 0.5px solid gray;
    .box {
      width: 250px;
      padding: 7px 14px;
      margin-top: 10px;
      margin-right: 10px;
      &:hover {
        color: #d62761;
        background-color: #fdeef3;
        cursor: pointer;
      }
    }
   
  }
}
.noTextDecoration{
  text-decoration: none;
  color: black;
}
.subCategories{
  padding-left: 50px;
  .subCategoryBox {
    width: 250px;
    padding: 7px 14px;
    margin-top: 10px;
    &:hover {
      color: #d62761;
      cursor: pointer;
    }
  }
}