.wrapper {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .box {
    width: 195px;
    height: 175px;
    background: #f7f8fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    overflow: hidden;
    border-radius: 10px;
    img{
        margin: 8px;
    }
    .logo{
        font-weight: 700;
        margin-bottom: 4px;
    }
    .text{
        font-size: 18px;
    }
    &:hover{
        .logo{
            color: #cc215a;
        }
        .text{
            color: #cc215a;
        }
        cursor: pointer;
        background-color: #eff0f3;
    }
  }
}
