.wrapper{
    width: 1500px;
    margin: 0 auto;
    .goods {
        height: 912px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        .box {
          max-height: 406px;
          margin: 40px 0px;
          height: 100%;
          max-width: 225px;
          width: 365px;
          border-right: 1px solid #ebedf0;
          border-left: 1px solid #ebedf0;
          padding: 0px 20px;
          margin-right: 14px;
          .imgBox {
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            position: relative;
            vertical-align: middle;
            outline: none;
            border-spacing: 0;
            padding-top: 24px;
          }
        }
        .btn {
          padding: 0px 0px;
          background-color: #e52e6b;
          color: white;
          border: none;
          outline: none;
          padding: 10px 40px;
          border-radius: 3px;
          margin-top: 50px;
          font-size: 17px;
          &:hover {
            cursor: pointer;
            background-color: #ce3467;
          }
        }
        .chosen {
          border-color: #e52e6b;
          background-color: white;
          color: #ce3467;
          padding: 10px 40px;
          margin-top: 50px;
        }
      }
}